body {
    background-color: coral;
    text-align: center;
    text-decoration: double;
    color: black;
}
img{
    border: solid black;
}
ul{
    background-color: pink;
    width: fit-content;
    margin-left: 45%;
}